.javascript-es6 h1{
    color: #ffffff;
    margin-top: 200px;
    padding: 10px 0px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid  purple;
    background-color: purple;
}